@use "mixins";
@use "variables";

.accent-text {
  color: var(--accent-color);
}

.btn {
  @include mixins.textpreset7bold;
  align-items: center;
  background: none;
  border: none;
  border-radius: variables.$corner-radius-full;
  box-shadow: 10px 10px 25px -10px rgba(54, 83, 107, 0.25);
  cursor: pointer;
  color: var(--btn-text-color);
  display: inline-flex;
  justify-content: center;
  padding: 1em 1.5em;
  text-decoration: none;
  &--primary {
    background-color: var(--accent-color);
    &:hover {
      background-color: var(--accent-color-hover);
    }
  }
  &--secondary {
    border: 1px solid var(--btn-text-color);
    &:hover {
      background-color: var(--btn-text-color);
      color: variables.$colors-slate-900;
    }
  }
  &--tertiary {
    border: 1px solid variables.$colors-slate-700;
    color: variables.$colors-slate-700;
    min-width: 168px;
    min-height: 48px;

    &:hover {
      background-color: variables.$colors-slate-700;
      color: variables.$colors-neutral-0;
    }
  }
}

.row {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.column {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.bg-dark {
  --header-text-color: var(--btn-text-color);
  --text-color: var(--btn-text-color);
  background-color: var(--bg-color-dark);
  p {
    opacity: 0.7;
  }
}

.large-text {
  @include mixins.textpreset1;
}

.divider {
  background-color: var(--header-text-color);
  height: 1px;
  opacity: 0.25;
  width: 100%;
}

input,
textarea {
  @include mixins.textpreset7bold;
  align-items: center;
  border: none;
  color: var(--header-text-color);
  display: flex;
  min-height: 3rem;
  opacity: 0.5;
  padding: 0 variables.$spacing-375;
  &::placeholder {
    @include mixins.textpreset7bold;
    color: var(--header-text-color);
    opacity: 1;
  }
}
body {
  // sets checkbox color
  accent-color: var(--accent-color);
}
form#demo {
  .form-group {
    display: flex;
    flex-direction: column;
    gap: variables.$spacing-200;
  }
  input {
    background: var(--btn-text-color);
    border-radius: variables.$corner-radius-full;
    box-shadow: 10px 10px 25px -10px rgba(54, 83, 107, 0.25);
  }
}

form#contact-form {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: variables.$spacing-300;
  position: relative;
  .form-group {
    align-self: stretch;
    align-items: stretch;
    display: flex;
    flex-direction: column;
    gap: variables.$spacing-100;
    text-align: start;
  }

  .consent-row {
    flex-direction: row;
    gap: variables.$spacing-300;

    label {
      color: var(--header-text-color);
    }
  }

  input,
  textarea {
    background: none;
    border-bottom: 1px solid rgba(54, 83, 107, 0.5);
    &::placeholder {
      @include mixins.textpreset7regular;
    }
  }

  textarea {
    height: calc(3lh + 1.4em); /* 3 line heights + vertical padding */
    resize: block;
  }

  input[type="checkbox"] {
    width: 24px;
    height: 24px;
  }

  /* Error state */
  .error-message {
    padding-top: 0.25rem;
    color: variables.$colors-red-600;
    display: none;
  }

  .form-group:has(input:user-invalid),
  .form-group:has(textarea:user-invalid) {
    input,
    textarea {
      border-color: variables.$colors-red-600;
    }

    .error-message {
      display: block;
    }
  }

  /* Succes Message */
  .success-message {
    background: var(--header-text-color);
    border-radius: variables.$corner-radius-12;
    bottom: 4rem;
    color: var(--bg-color);
    display: none;
    left: 0;
    margin: 0 auto;
    padding: variables.$spacing-300;
    position: absolute;
    right: 0;
    width: fit-content;
    z-index: 2;
    h3,
    p {
      color: inherit;
    }

    p {
      margin-top: 1em;
      opacity: 0.8;
    }
    &.visible {
      display: block;
    }
    .title {
      justify-content: flex-start;
      gap: variables.$spacing-200;
    }
  }
}

@media (min-width: 48rem) {
  form#demo {
    .form-group {
      align-items: stretch;
      flex-direction: row;
      gap: 0;
      width: 445px;
      position: relative;
      button {
        position: absolute;
        right: 0;
      }
    }

    input {
      flex: 1;
    }
  }
}
