@use "mixins";
@use "variables";

.accent-text {
  color: var(--accent-color);
}

.btn {
  @include mixins.textpreset7bold;
  align-items: center;
  background: none;
  border: none;
  border-radius: variables.$corner-radius-full;
  box-shadow: 10px 10px 25px -10px rgba(54, 83, 107, 0.25);
  cursor: pointer;
  color: var(--btn-text-color);
  display: inline-flex;
  justify-content: center;
  padding: 1em 1.5em;
  text-decoration: none;
  &--primary {
    background-color: var(--accent-color);
    &:hover {
      background-color: var(--accent-color-hover);
    }
  }
  &--secondary {
    border: 1px solid var(--btn-text-color);
    &:hover {
      background-color: var(--btn-text-color);
      color: variables.$colors-slate-900;
    }
  }
  &--tertiary {
    border: 1px solid variables.$colors-slate-700;
    color: variables.$colors-slate-700;
    min-width: 168px;
    min-height: 48px;

    &:hover {
      background-color: variables.$colors-slate-700;
      color: variables.$colors-neutral-0;
    }
  }
}

.row {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.bg-dark {
  --header-text-color: var(--btn-text-color);
  --text-color: var(--btn-text-color);
  background-color: var(--bg-color-dark);
  p {
    opacity: 0.7;
  }
}

.large-text {
  @include mixins.textpreset1;
}

form#demo {
  .form-group {
    display: flex;
    flex-direction: column;
    gap: variables.$spacing-200;
  }
  input {
    @include mixins.textpreset7bold;
    align-items: center;
    background: var(--btn-text-color);
    border: none;
    border-radius: variables.$corner-radius-full;
    box-shadow: 10px 10px 25px -10px rgba(54, 83, 107, 0.25);
    color: var(--header-text-color);
    display: flex;
    min-height: 3rem;
    opacity: 0.5;
    padding: 0 variables.$spacing-375;
    &::placeholder {
      @include mixins.textpreset7bold;
      color: var(--header-text-color);
      opacity: 0.5;
    }
  }
}

@media (min-width: 48rem) {
  form#demo {
    .form-group {
      align-items: stretch;
      flex-direction: row;
      gap: 0;
      width: 445px;
      position: relative;
      button {
        position: absolute;
        right: 0;
      }
    }

    input {
      flex: 1;
    }
  }
}
