@use "mixins";
@use "variables";

.accent-text {
  color: var(--accent-color);
}

.btn {
  @include mixins.textpreset7bold;
  align-items: center;
  background: none;
  border: none;
  border-radius: variables.$corner-radius-full;
  box-shadow: 10px 10px 25px -10px rgba(54, 83, 107, 0.25);
  cursor: pointer;
  display: inline-flex;
  justify-content: center;
  padding: 1em 2em;
  text-decoration: none;
  &--primary {
    background-color: var(--accent-color);
    color: var(--text-color);
    &:hover {
      background-color: var(--text-color);
      color: var(--accent-color);
    }
  }
  &--secondary {
  }
  &--tertiary {
  }
}

.row {
  align-items: center;
  display: flex;
  justify-content: space-between;
}
