$colors__neutral__0: #ffffff;
$spacing__0: 0;
$spacing__100: 8;
$spacing__200: 16;
$spacing__300: 24;
$spacing__400: 32;
$spacing__500: 40;
$spacing__600: 48;
$spacing__800: 64;
$spacing__1000: 80;
$cornerradius__0: 0;
$cornerradius__4: 4;
$cornerradius__6: 6;
$cornerradius__8: 8;
$cornerradius__10: 10;
$cornerradius__12: 12;
$cornerradius__16: 16;
$cornerradius__20: 20;
$cornerradius__24: 24;
$cornerradius__full: 999;
$colors__neutral__950: #000000;
$colors__neutral__300: #d8d8d8;
$colors__slate__50: #fbfcfe;
$colors__slate__100: #edf3f8;
$colors__slate__500: #6c8294;
$colors__slate__600: #527695;
$colors__slate__700: #36536b;
$colors__slate__800: #2e3f4d;
$colors__slate__900: #213648;
$colors__slate__950: #1b262f;
$colors__rose__400: #da6d97;
$colors__rose__600: #ba4270;
$colors__green__900: #2e423c;
$colors__red__600: #ff0000;
$spacing__375: 30;
$spacing__900: 72;
$spacing__700: 56;
$cornerradius__2: 2;
