$colors-neutral-0: #ffffff;
$spacing-0: 0px;
$spacing-100: 0.5rem;
$spacing-200: 1rem;
$spacing-300: 1.5rem;
$spacing-375: 30px;
$spacing-400: 2rem;
$spacing-500: 2.5rem;
$spacing-600: 3rem;
$spacing-700: 3.5rem;
$spacing-800: 4rem;
$spacing-900: 4.5rem;
$spacing-1000: 5rem;
$corner-radius-0: 0px;
$corner-radius-2: 2px;
$corner-radius-4: 4px;
$corner-radius-6: 6px;
$corner-radius-8: 8px;
$corner-radius-10: 10px;
$corner-radius-12: 12px;
$corner-radius-16: 16px;
$corner-radius-20: 20px;
$corner-radius-24: 24px;
$corner-radius-full: 999px;
$colors-neutral-950: #000000;
$colors-neutral-300: #d8d8d8;
$colors-slate-50: #fbfcfe;
$colors-slate-100: #edf3f8;
$colors-slate-500: #6c8294;
$colors-slate-600: #527695;
$colors-slate-700: #36536b;
$colors-slate-800: #2e3f4d;
$colors-slate-900: #213648;
$colors-slate-950: #1b262f;
$colors-rose-400: #da6d97;
$colors-rose-600: #ba4270;
$colors-green-900: #2e423c;
$colors-red-600: #ff0000;
