$colors-neutral-0: #ffffff;
$spacing-0: 0;
$spacing-100: 8;
$spacing-200: 16;
$spacing-300: 24;
$spacing-400: 32;
$spacing-500: 40;
$spacing-600: 48;
$spacing-800: 64;
$spacing-1000: 80;
$corner-radius-0: 0;
$corner-radius-4: 4;
$corner-radius-6: 6;
$corner-radius-8: 8;
$corner-radius-10: 10;
$corner-radius-12: 12;
$corner-radius-16: 16;
$corner-radius-20: 20;
$corner-radius-24: 24;
$corner-radius-full: 999;
$colors-neutral-950: #000000;
$colors-neutral-300: #d8d8d8;
$colors-slate-50: #fbfcfe;
$colors-slate-100: #edf3f8;
$colors-slate-500: #6c8294;
$colors-slate-600: #527695;
$colors-slate-700: #36536b;
$colors-slate-800: #2e3f4d;
$colors-slate-900: #213648;
$colors-slate-950: #1b262f;
$colors-rose-400: #da6d97;
$colors-rose-600: #ba4270;
$colors-green-900: #2e423c;
$colors-red-600: #ff0000;
$spacing-375: 30;
$spacing-900: 72;
$spacing-700: 56;
$corner-radius-2: 2;
