@use "mixins";
@use "reset";
@use "utilities";
@use "variables";
@use "sass:map";

:root {
  // COLORS
  --primary-color: #1e3a8a;

  --accent-color: #{variables.$colors-rose-600};
  --accent-color-hover: #{variables.$colors-rose-400};

  --bg-color: #{variables.$colors-slate-100};
  --bg-color-dark: #{variables.$colors-slate-950};

  --btn-text-color: #{variables.$colors-slate-50};
  --header-text-color: #{variables.$colors-slate-700};
  --text-color: #{variables.$colors-slate-500};

  --border-color: #e0e0e0;
  --card-bg: #ffffff;
  --footer-bg: #111;
  --cta-bg: #1a1a1a;

  // CONTAINER
  --container-max-width: 70rem;
  --container-width: 90%;

  --section-spacing: clamp(2rem, 0.9437rem + 4.507vw, 5rem);
  --card-padding: 1.5rem 2rem;
}

body {
  line-height: 1.6;
  font-family: "Public Sans", sans-serif;
  color: var(--text-color);
  background-color: var(--bg-color);
  position: relative;
  transition:
    background-color 0.3s ease,
    color 0.3s ease;
}

.page__background-image {
  position: absolute;
  // TODO: check figma for values of top left etc.
  top: -525px;
  left: -185px;
  z-index: -1;
}
.container {
  margin: 0 auto;
  max-width: var(--container-max-width);
  width: var(--container-width);
}

section {
  padding: var(--section-spacing) 0;
  text-align: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--header-text-color);
}

h1,
h2 {
  @include mixins.textpreset4;
}

h3 {
  @include mixins.textpreset6;
}

p {
  @include mixins.textpreset7regular;
  color: var(--text-color);
}

.nav__item > a {
  @include mixins.textpreset7bold;
  &:hover {
    opacity: 1;
  }
}

.nav__list {
  display: flex;
  flex-direction: column;
  gap: variables.$spacing-375;
  text-align: center;
}

.nav__item {
  position: relative;
  a {
    @include mixins.textpreset6;
    text-decoration: none;
    color: var(--btn-text-color);
    opacity: 0.7;
    &:hover {
      opacity: 1;
    }
  }
}

header {
  padding: variables.$spacing-500 0;
  .nav-toggle {
    background: none;
    border: none;
    cursor: pointer;
    position: relative;
    z-index: 1000;

    .close {
      display: none;
    }
  }

  &:has(.main-nav.visible) {
    .close {
      display: block;
    }
    .hamburger {
      display: none;
    }
  }

  .main-nav {
    display: none;
  }

  .main-nav.visible {
    align-items: stretch;
    background-color: var(--bg-color-dark);
    bottom: 0;
    display: flex;
    flex-direction: column;
    gap: variables.$spacing-500;
    justify-content: flex-start;
    padding: calc(variables.$spacing-1000 + variables.$spacing-800)
      variables.$spacing-400;
    position: absolute;
    right: 0;
    top: 0;
    width: 80%;
    z-index: 1000;
  }
}

.our-clients {
  &__logo-container {
    display: grid;
    // TODO: add gap
    grid-template-columns: repeat(2, 1fr);
  }
}

footer {
  text-align: center;
  .container {
    align-items: center;
    display: flex;
    flex-direction: column;
    // TODO: check figma for gap and padding
    gap: variables.$spacing-400;
    padding: variables.$spacing-400 0;
  }
  .logo {
    svg * {
      fill: variables.$colors-slate-50;
    }
  }
  .socials-list {
    align-items: center;
    display: flex;
    // TODO: check figma for gap
    gap: variables.$spacing-200;
  }
}

@media (min-width: 48rem) {
  h1,
  h2 {
    @include mixins.textpreset3;
  }
  header {
    .navbar {
      display: flex;
      justify-content: flex-start;
      gap: variables.$spacing-800;
    }

    .nav-toggle {
      display: none;
    }

    .main-nav {
      display: flex;
      flex: 1;
    }
  }

  .nav__list {
    flex-direction: row;
    gap: variables.$spacing-500;
  }

  .nav__item {
    a {
      color: var(--header-text-color);
      text-decoration: none;
      opacity: 0.7;
    }
  }

  .our-clients {
    &__logo-container {
      display: grid;
      // TODO: add gap
      grid-template-columns: repeat(3, 1fr);
    }
  }

  footer {
    .container {
      flex-direction: row;
      gap: variables.$spacing-800;
      justify-content: space-between;
    }

    .socials-list {
      margin-left: auto;
    }
  }
}

@media (min-width: 64rem) {
  h1 {
    @include mixins.textpreset1;
  }
}
