@use "mixins";
@use "reset";
@use "utilities";
@use "variables";
@use "sass:map";

:root {
  // COLORS
  --primary-color: #1e3a8a;

  --accent-color: #{variables.$colors-rose-600};
  --accent-color-hover: #{variables.$colors-rose-400};

  --bg-color: #{variables.$colors-slate-100};

  --btn-text-color: #{variables.$colors-slate-50};
  --header-text-color: #{variables.$colors-slate-700};
  --text-color: #{variables.$colors-slate-500};

  --border-color: #e0e0e0;
  --card-bg: #ffffff;
  --footer-bg: #111;
  --cta-bg: #1a1a1a;

  // CONTAINER
  --container-max-width: 70rem;
  --container-width: 90%;

  --section-spacing: clamp(2rem, 0.9437rem + 4.507vw, 5rem);
  --card-padding: 1.5rem 2rem;
}

body {
  line-height: 1.6;
  font-family: "Public Sans", sans-serif;
  color: var(--text-color);
  background-color: var(--bg-color);
  transition:
    background-color 0.3s ease,
    color 0.3s ease;
}

.container {
  margin: 0 auto;
  max-width: var(--container-max-width);
  width: var(--container-width);
}

section {
  padding: var(--section-spacing) 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--header-text-color);
}

h1,
h2 {
  @include mixins.textpreset4;
}

h3 {
  @include mixins.textpreset6;
}

p {
  @include mixins.textpreset7regular;
  color: var(--text-color);
}

nav a {
  @include mixins.textpreset7bold;
}

header {
  .nav-toggle {
    background: none;
    border: none;
    cursor: pointer;

    .close {
      display: none;
    }
  }

  &:has(.main-nav.visible) {
    .close {
      display: block;
    }
    .hamburger {
      display: none;
    }
  }

  .main-nav {
    display: none;
  }

  .main-nav.visible {
    background-color: var(--bg-color);
    height: auto;
    top: 100%;
    right: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    padding: 2rem 1.5rem 1.5rem;
    z-index: 1000;

    .nav__list {
      display: flex;
      flex-direction: column;
      gap: 1.5rem;
      text-align: center;
    }
  }

  .nav__item {
    position: relative;
    a {
      text-decoration: none;
      color: var(--text-color);
    }

    &::after {
      content: "";
      position: absolute;
      width: 0;
      height: 3px;
      background-color: var(--accent-color);
      bottom: -4px;
      left: 0;
      transition: width 0.3s;
    }

    &:hover::after {
      width: 100%;
    }
  }
}

footer {
  text-align: center;
}

@media (min-width: 48rem) {
  h1,
  h2 {
    @include mixins.textpreset3;
  }
  header {
    .navbar {
      display: flex;
      justify-content: flex-start;
      gap: variables.$spacing-800;
    }

    .nav-toggle {
      display: none;
    }

    .main-nav {
      display: flex;
      flex: 1;
    }

    .nav__list {
      display: flex;
      gap: variables.$spacing-500;
    }

    .nav__item {
      a {
        color: var(--text-color);
      }
    }
  }
}

@media (min-width: 64rem) {
  h1 {
    @include mixins.textpreset1;
  }
}
