<section class="features">
  <div class="container">
    <div class="features__top">
      <div class="features__feature">
        <div class="feature__image">
          <img
            src="/assets/images/illustration-easy-to-implement.svg"
            alt=""
          />
        </div>
        <div class="feature__content">
          <h2>Easy to implement</h2>
          <p>
            Our API comes with just a few lines of code. You’ll be up and
            running in no time. We built our documentation page to integrate
            payments functionality with ease.
          </p>
        </div>
      </div>

      <div class="features__feature">
        <div class="feature__image">
          <img
            src="{{ '/assets/images/illustration-simple-ui.svg' | url }}"
            alt=""
          />
        </div>
        <div class="feature__content">
          <h2>Simple UI & UX</h2>
          <p>
            Our pre-built form is easy to integrate in your app or website’s
            checkout flow and designed to optimize conversion.
          </p>
        </div>
      </div>
    </div>

    <div class="features__bottom">
      <div class="features__feature">
        <div class="feature__image">
          <img
            src="{{ '/assets/images/icon-personal-finances.svg' | url }}"
            alt=""
          />
        </div>
        <div class="feature__content">
          <h3>Personal Finances</h3>
          <p>
            Consolidate financial data from multiple sources and categorize
            transactions up to 2 years of history. Analyze reports to reconcile
            activities in your account.
          </p>
        </div>
      </div>

      <div class="features__feature">
        <div class="feature__image">
          <img
            src="{{ '/assets/images/icon-banking-and-coverage.svg' | url }}"
            alt=""
          />
        </div>
        <div class="feature__content">
          <h3>Banks & Coverage</h3>
          <p>
            With our platform, you can speed up account onboarding and support
            ongoing payments for checking, savings, credit card, and brokerage
            accounts.
          </p>
        </div>
      </div>

      <div class="features__feature">
        <div class="feature__image">
          <img
            src="{{ '/assets/images/icon-consumer-payments.svg' | url }}"
            alt=""
          />
        </div>
        <div class="feature__content">
          <h3>Consumer Payments</h3>
          <p>
            It’s easier to set up secure bank payments with us through a flow
            designed with the user experience in mind. Customers could instantly
            authenticate their account.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
