<section class="our-clients bg-dark">
  <div class="container">
    <div class="logo-container">
      <div class="logo">{% include "svgs/tesla.svg" %}</div>
      <div class="logo">{% include "svgs/microsoft.svg" %}</div>
      <div class="logo">{% include "svgs/hewlett-packard.svg" %}</div>
      <div class="logo">{% include "svgs/oracle.svg" %}</div>
      <div class="logo">{% include "svgs/google.svg" %}</div>
      <div class="logo">{% include "svgs/nvidia.svg" %}</div>
    </div>
    <div class="our-clients__content">
      <h2>Who we work with</h2>
      <p>
        Today, millions of people around the world have successfully connected
        their accounts to apps they love using our API. We provide developers
        with the tools they need to create easy and accessible experiences for
        their users.
      </p>
      <a
        href="{{ '/about/' | url }}"
        class="btn btn--secondary"
      >
        About Us
      </a>
    </div>
  </div>
</section>
