<header>
  <div class="container">
    <div class="navbar row">
      <a
        href="{{ '/' | url }}"
        class="logo"
        aria-label="{{ site.name }} - home"
      >
        {% include "svgs/logo.svg" %}
      </a>
      <nav
        class="main-nav row"
        aria-label="main"
      >
        <ul class="nav__list">
          {% for item in site.navigation %}
            <li class="nav__item">
              <a href="{{ item.url | url }}">{{ item.text }}</a>
            </li>
          {% endfor %}
        </ul>
        <a
          href="#"
          class="btn btn--primary"
        >
          Schedule a Demo
        </a>
      </nav>
      <button class="nav-toggle">
        <div class="hamburger">{% include "svgs/menu.svg" %}</div>
        <div class="close">{% include "svgs/close.svg" %}</div>
      </button>
    </div>
  </div>
</header>
