<footer class="bg-dark">
  <div class="container">
    <a
      href="{{ '/' | url }}"
      class="logo"
      aria-label="{{ site.name }} - home"
    >
      {% include "svgs/logo.svg" %}
    </a>
    <nav class="footer-nav">
      <ul class="nav__list">
        {% for item in site.navigation %}
          <li class="nav__item">
            <a href="{{ item.url | url }}">{{ item.text }}</a>
          </li>
        {% endfor %}
      </ul>
    </nav>
    <ul class="socials-list">
      <li class="socials-list__item">
        <a href="https://facebook.com">{% include "svgs/facebook.svg" %}</a>
      </li>
      <li class="socials-list__item">
        <a href="https://twitter.com">{% include "svgs/twitter.svg" %}</a>
      </li>
      <li class="socials-list__item">
        <a href="https://linkedin.com">{% include "svgs/linkedin.svg" %}</a>
      </li>
    </ul>
  </div>
</footer>
